/* header */
/* 为整个页面添加纯色背景 */
body {
    background-color: #12161a; /* 你想要的颜色 */
    font-family: Consolas, monospace;
}

/* 自定义导航栏样式，去除背景和边框 */
.navbar {
    background-color: transparent;
    border: none;
}

/* 确保导航栏链接颜色与背景色对比明显 */
.navbar .navbar-nav > li > a {
    color: #b4b4b4; /* 根据需要调整 */
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* 鼠标悬停时的颜色 */
.navbar .navbar-nav > li > a:hover {
    /*background-color: #2f2f2f; !* 确保悬停时也没有背景 *!*/
    color: #ffffff; /* 根据需要调整 */
}

.navbar-nav .active {
    font-weight: bold; /* 或者其他样式，表示当前页面的导航项 */
    /*background-color: #2f2f2f !important; !* 悬停时的颜色，可以根据需要调整 *!*/
    color: #ffffff !important; /* 你想要的文字颜色 */
}

/* 自定义导航栏高度 */
.navbar {
    min-height: 20px; /* 根据需要调整高度 */
}

/* 自定义导航栏品牌（Brand）的高度和字体大小 */
.navbar-brand {
    padding-top: 20px;
    padding-bottom: 15px;
    height: 20px; /* 与导航栏高度一致 */
    line-height: 20px; /* 使文字垂直居中 */
    font-size: 20px; /* 根据需要调整字体大小 */
}

/* 自定义导航栏链接的高度和字体大小 */
.navbar-nav > li > a {
    padding-top: 20px; /* 根据需要调整内边距，使文字垂直居中 */
    padding-bottom: 15px; /* 根据需要调整内边距，使文字垂直居中 */
    line-height: 20px; /* 根据需要调整字体行高 */
    font-size: 18px; /* 根据需要调整字体大小 */
}

/* body */
.jumbotron {
    /*background-image: url('your-image-url.jpg'); !* 设置背景图片的 URL *!*/
    /*background-size: cover; !* 图片等比例缩放以填充容器 *!*/
    background-color: #12161a;
    color: #dee2e6;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 800px;
}

/* footer */
/* 设置footer样式 */
footer {
    background-color: #1b2126;
    padding: 20px 0;
    /*font-size: 12px;*/
    color: #ffffff;
    text-align: center;
}