<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>  <!-- 标题 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% block header %}{% endblock %}
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Deeplearning Gallery Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if admin %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" id="user-dropdown">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ admin.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <span style="padding-left: 10px">Profile</span>
                            <li><a href="#">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                My Account
                            </a></li>
                            <li><a href="{{ url_for('admin.logout') }}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Logout
                            </a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 页面详情 -->
<div class="jumbotron">
    {% block body %}{% endblock %}
</div>

<!-- 页脚 -->
<footer>
    <div class="container">
        <p>&copy; 2024 Pineclone</p>
        <div class="contact-info">
            <p>Student ID: 3021001118 | name: 莫昌旺</p>
            <p>Contact me at: pineclone@outlook.com | 19977852980</p>
        </div>
        <div class="footer-nav">
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Signup</a>
            <a href="#">Login</a>
        </div>
    </div>
</footer>

<script type="application/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% block footer %}{% endblock %}
</body>
</html>