{% extends "formResultDisplay.html" %}
{% block result_title %}Reset Password{% endblock %}
{% block jumbotron_title %}Reset Password{% endblock %}
{% block result_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetPassword.css') }}">

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span style="font-size: 18px">You're now resetting the password for account link to <label
                    style="color: #fcfc00">{{ email }}</label>, input new password below then confirm: </span>
        </div>
    </div>

    <form action="/auth/password/reset/{{ token }}" method="post">
        {{ form.csrf_token }}   <!-- 设置csrf -->

        <!-- password -->
        <div class="row" style="padding-bottom: 30px">
            <div class="form-group">
                <div class="col-md-12">{{ form.password.label(class="form-control-label") }}</div>
                <div class="col-md-12">
                    <div class="input-group">
                        {{ form.password(class="form-control", id="password") }}
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="visibilityBtn"
                                    onclick="toggleVisibility()"><span class="glyphicon glyphicon-eye-close" id="visibilityIcon" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- submit -->
        <div class="form-group" style="position: absolute; bottom: 0; width: 100px; left: 38%">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </form>

    <script type="application/javascript" src="{{ url_for('static', filename="js/resetPassword.js") }}"></script>
{% endblock %}