{% extends "formResultDisplay.html" %}
{% block result_title %}Reset Password{% endblock %}
{% block jumbotron_title %}Reset Password{% endblock %}
{% block result_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetPassword.css') }}">

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 30px">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span style="font-size: 18px">Email Address Verified: An email which include reset password url is sent to <label style="color: #fcfc00">{{ email }}</label>, follow the link and reset your password</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span><a href="/auth/login" style="font-size: 18px">Back to login page</a></span>
        </div>
    </div>

    <script type="application/javascript" src="{{ url_for('static', filename="js/resetPassword.js") }}"></script>
{% endblock %}