{% extends "formResultDisplay.html" %}
{% block result_title %}Reset Password{% endblock %}
{% block jumbotron_title %}Reset Password{% endblock %}
{% block result_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetPassword.css') }}">

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span style="font-size: 18px">Input your register email address below: </span>
        </div>
    </div>

    <form action="{{ url_for('auth.requestPasswordReset') }}" method="post">

        {{ form.csrf_token }}   <!-- 设置csrf -->
        <!-- username -->
        <div class="row" style="padding-bottom: 30px">
            <div class="form-group">
                <div class="col-md-12">{{ form.email.label(class="form-control-label") }}</div>
                <div class="col-md-12">
                    {{ form.email(class="form-control", id="email") }}
                </div>
            </div>
        </div>

        <!-- submit -->
        <div class="form-group" style="position: absolute; bottom: 0; width: 100px; left: 38%">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span><a href="/auth/login" style="font-size: 18px">Back to login page</a></span>
        </div>
    </div>



    <script type="application/javascript" src="{{ url_for('static', filename="js/resetPassword.js") }}"></script>
{% endblock %}