#i-delete {
    border-radius: 7px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#panel-ico {
    position: absolute;
    left: 0;
    height: 80px;
    width: 80px;
    border-radius: 15px;
}

#display-panel {
    border: #333333 solid 1px;
    background-color: #0f0f0f;
    border-radius: 7px;
}

#display-panel a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
}

#display-panel .panel-heading {
    color: #ffffff;
    background-color: #161616;
    height: 35px;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#display-panel .panel-body {
    background-color: #0f0f0f;
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 110px;
    flex: 1;
    color: #ffffff;
    font-size: 16px;
}

#display-panel #panel-index {
    position: absolute;
    font-size: 18px;
    top: 5px;
}

#display-panel #panel-title {
    position: absolute;
    top: 5px;
    right: 46%;
    font-size: 18px;
    color: #7ba7ce;
}

#display-panel #panel-likes {
    position: absolute;
    right: 21px;
    top: 7px;
    font-size: 16px;
}

#display-panel #panel-likes span {
    top: 2px;
    right: 3px;
}

#display-panel #banner {
    position: absolute;
    left: 90px;
    font-size: 18px;
    color: #ffaa00;
}

#display-panel #inner {
    position: absolute;
    left: 90px;
    font-size: 18px;
    top: 25px;
}

#display-panel #learn-more {
    position: absolute;
    right: -5px;
    top: 70px;
}

/* modifier */
.data-panel {
    border: #404346 solid 1px;
    background-color: #1e2226;
    font-size: 16px;

}

.data-panel .panel-heading {
    color: #dee2e6 !important;
    background-color: #24282c !important;
    border-bottom: #404346 solid 1px !important;
}

.data-panel .panel-body {
    background-color: #1e2226 !important;
}

.data-panel .btn-default {
    background-color: #2b3035 !important;
    color: #c6f6ff;
    border: #495057 solid 1px;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.data-panel .btn-default:hover {
    background-color: #32383d !important;
    color: #c6f6ff;
}

.data-panel .registration-form {
    border: none;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 0 0 0 0;
    right: 0;
}

.data-panel .col-md-12 {
    padding: 0 0 0 0
}

.data-panel .form-control-label {
    padding-top: 0;
    font-size: 17px;
}

.data-panel #i-check {
    font-size: 14px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.data-panel .form-control {
    font-size: 16px;
    width: 100%;
    resize: none;
}

.data-panel label {
    margin-bottom: 0;
}

.data-panel #submit {
    font-size: 14px;
    width: 145px;
}

#bar {
    width: 100%;
    height: 369px;
}




